{% extends "layout.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block headline %}
{{title}}
{% endblock %}

{% block mini_headline %}
<a href="/docs">API Docs</a>
{% endblock %}

{% block content %}
<script type="module">
import UserPromptForm from '{{url_for("static", filename="js/UserPromptForm.js")}}'
import ReplyCard from '{{url_for("static", filename="js/ReplyCard.js")}}'

const app = Vue.createApp({})
app.component("UserPromptForm", UserPromptForm)
app.component("ReplyCard", ReplyCard)
const vm = app.mount('#app')
</script>

{% raw %}
<div id="app" class="m-3">
    <user-prompt-form />
</div>
{% endraw %}
{% endblock %}

{% block footer %}
{% endblock %}
